

<form action="/create" method="post">
    <h4>Create here</h4>

    <div class="input-field">
        <input type="text" name='name'>
        <label>Todo Title</label>
    </div>

    <button type="submit" class="btn">Create</button>

</form>